<h1 style="color:brown;">Butterflies (Rhopalocera) are insects that have large, often brightly coloured wings, and a conspicuous, fluttering flight. The group comprises the superfamilies Hedyloidea (moth-butterflies in the Americas) and Papilionoidea. Butterfly fossils have been dated to the Paleocene, about 56 million years ago.</h1>
font:15px aerial;
font:15px verdana;
font:15px Monospace;
font-size:small;
font-style:Italic;
font-weight:Bold;
